.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient( to bottom, rgba(0,0,0,0.1),rgba(0,0,0,1));
}
form{
    max-width: 470px!important ;
    margin:20px auto !important;
    padding: 20px !important; 
    border-radius: 30px 30px 30px 30px;
    border-color: 10px solid black !important ; 
    opacity: 0.9;
    border: 5px solid black ;
}